/* --- Color --- */
header, h1 a, button, footer, #header_Logout a, #header_Logout{
    color: #e3e3e3;
}

button:hover, a,  #header_Logout button:hover a {
    color: #272323;
}

/* --- Background --- */
header, footer {
    background-color: #2b2b2b;
}

body,.section_1 .subject {
    background-color: #f2eded;
}

.section_1 {
    background-color: #a8d2ac;
}

.category {
    background: rgba(233,231,148,1);
}

button {
    background-color: #272323;
}

/* --- Border / Shadow --- */
nav a {
    border: solid 2px #272323;
}

.section_1, .category, .subject, #register, button {
    border-radius: 20px;
}

.category {
    border-radius: 20px 20px 0 0;
}

input, button {
    border: none;
}

header {
    border-bottom: #a8d2ac solid 4px;
}

#header_Tittle {
    border-bottom: solid rgba(233, 231, 148, 1) 4px;
}

footer {
    border-top: #a8d2ac solid 4px;
}

/* --- Others ---*/
button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
}

/* --- Alert color --- */
.red {
    border: red solid 3px;
    color: red;
}

.red:hover {
    background-color: red;
}

.orange {
    border: solid orange 3px;
    color: orange;
}

.orange:hover {
    background-color: orange;
}

.green {
    border: solid 3px limegreen;
    color: limegreen;
}

.green:hover {
    background-color: limegreen;
}