* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
}

/* Font */
#bodyDiv {
    font-family: "Comic Sans MS", sans-serif;
}

#bodyDiv, input, button {
    font-size: 1rem;
}

/* Width */
#bodyDiv {
    width: 100%;
}

/* Height */
#bodyDiv {
    height: 100%;
}

/* Display */
#header_logIn_Logout, #header_Logout, #header_Register {
    display: flex;
    flex-direction: column;
}

#header_Logout, #header_Register {
    align-items: center;
}

/* Padding */
h1, #header_logIn_Logout {
    padding: 20px 0;
}

/* --- Header --- */
header {
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    margin: 0 35px;
    padding: 10px 20px;
}

/* --- Footer --- */
footer {
    padding: 20px 10px;
    text-align: center;
}

/* --- Login - Register --- */
#register, #new_post {
    padding: 25px 50px;
    display: flex;
    flex-direction: column;
}

#register input, #register button, #new_post input {
    width: 300px;
}

/* --- Container --- */
.section_1 {
    margin: 50px 20%;
}

.newPost {
    float: right;
    position: relative;
    top: -40px;
}

.section_1 .category, .section_1 .subjects, .section_1 .subject, .subject p {
    padding: 20px;
}

.section_1 .subject {
    margin: 30px 0;
}

/* --- Input / Button --- */
input, button {
    margin: 5px 25px;
}

input, select {
    padding: 10px 10px;
}

button {
    padding: 10px 30px;
}

/* Alert message */
#header_message {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 10px;
}